.invested-form {
	max-width: 450px;
	padding: 20px;
	background-color: rgb(230, 228, 228);
}
.buy_btn {
	background: #ffd591;
	border: #ffd591;
}
.buy_btn:hover {
	background: #ffd591;
	border: white;
	color: black;
}
.sell_btn {
	background: #95de64;
	border: #95de64;
}
.sell_btn:hover {
	background: #95de64;
	border: white;
	color: black;
}
