.ant-layout-header {
	height: 64px;
	padding: 0 50px;
	color: rgba(0, 0, 0, 0.85);
	line-height: 64px;
	background: #dadada !important;
}
.flex-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.full-menu {
	height: 93vh;
}
